<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en"><![endif]--><!--[if IE 8]>
<html class="ie8" lang="en"><![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">

    <title>Planette - Tutorials, examples, snippets and other dev tools</title>

    <!-- SEO -->
    <meta name="keywords" content="@todo">
    <meta name="description" content="@todo">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Planette <planette@planette.io>">

    <!-- FACEBOOK -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:description" content="@todo">

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/bundle.css">

    <!-- Monitoring -->
    <!--{{ partial "smartlook" }}-->
</head>
<body>
<div id="navbar">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#planette-navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Planette</a>
			</div>

			<div class="collapse navbar-collapse navbar-right" id="planette-navbar-collapse">
				<ul class="nav navbar-nav">
					<li {{ if eq .Page.URL "/" }}class="active"{{ end }}><a href="/">Latests posts</a></li>
					<li {{ if eq .Page.URL "/contributing/" }}class="active"{{ end }}><a href="/contributing">Contributing</a></li>
					<li {{ if eq .Page.URL "/team/" }}class="active"{{ end }}><a href="/team">Team</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div id="header">
	<div class="container">
	</div>
</div>

<div id="main">
	<div class="container">
		{{ block "main" .}}{{ end }}
	</div>
</div>

<div id="footer">
	<div class="widgets">
		<div class="container">
			<div class="row">
				<div class="widget col-md-6">
					<h2>Recent posts</h2>
					<ul class="links">
						{{ range first 6 (where .Site.Pages.ByDate "Type" "blog").Reverse }}
						<li><a href="{{ .RelPermalink }}">{{ .Date.Format "02/01/2006" }} | {{ .Title }}</a></li>
						{{ end }}
					</ul>
				</div>
				<div class="widget col-md-2">
					<h2>Nette</h2>
					<ul class="links">
						<li><a href="https://doc.nette.org">Documentation</a></li>
						<li><a href="https://doc.nette.org/en/2.4/quickstart">QuickStart</a></li>
						<li><a href="https://forum.nette.org">Forum</a></li>
						<li><a href="https://gitter.im/nette/nette">Chat</a></li>
						<li><a href="https://www.youtube.com/user/NetteFramework">Videos</a></li>
						<li><a href="https://api.nette.org">API</a></li>
					</ul>
				</div>
				<div class="widget col-md-2">
					<h2>Componette</h2>
					<ul class="links">
						<li><a href="https://componette.com/">Latests</a></li>
						<li><a href="https://componette.com/search/forms">By Forms</a></li>
						<li><a href="https://componette.com/search/forms">By Tracy</a></li>
						<li><a href="https://componette.com/search/forms">By API</a></li>
						<li><a href="https://componette.com/search/forms">By Database</a></li>
						<li><a href="https://github.com/componette/componette">Sources</a></li>
					</ul>
				</div>
				<div class="widget col-md-2">
					<h2>Planette</h2>
					<ul class="links">
						<li><a href="/team">Team</a></li>
						<li><a href="/contributing">Contributing</a></li>
						<li><a href="https://github.com/planette/planette">Sources</a></li>
						<li><a href="mailto:dev@planette.io">dev@planette.io</a></li>
						<li><a href="https://twitter.com/FriendsOfNette">@FriendsOfNette</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<p class="text-center">
					Join our team and help us to build a great community portal. <a href="https://github.com/f3l1x">@f3l1x</a> 
				</p>
			</div>
			<hr>
			<div class="text-center">&copy; 2016-2017 Planette, Inc. All rights reserved. Made by <a href="https://github.com/planette">Planette</a>.</div>
		</div>
	</div>
</div>
<!--{{ partial "qa.html" }}-->

<!-- JS -->
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}dist/bundle.js" type="text/javascript"></script>
</body>
</html>
