{{ define "main" }}

<div id="homepage">
	<div class="row boxes">
		<div class="col-md-4 box">
			<div class="box-inner">
				<h2>Latests news</h2>
				<ul class="list">
					{{ range .Data.Pages.ByDate.Reverse }}
					<li><a href="{{ .RelPermalink }}">{{ .Date.Format "02/01/2006" }} | {{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
		<div class="col-md-4 box">
			<div class="box-inner">
				<h2>Latests news</h2>
				<ul class="list">
					{{ range .Data.Pages.ByDate.Reverse }}
					<li><a href="{{ .RelPermalink }}">{{ .Date.Format "02/01/2006" }} | {{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
		<div class="col-md-4 box">
			<div class="box-inner">
				<h2>Latests news</h2>
				<ul class="list">
					{{ range .Data.Pages.ByDate.Reverse }}
					<li><a href="{{ .RelPermalink }}">{{ .Date.Format "02/01/2006" }} | {{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</div>


{{ end }}
